/* GLOBAL */

body {
  margin: 0;
  color: #2a2a2a;
  background-image: url('assests/nctOT23.2.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  background-color: #be2128;
  display: flex;
    justify-content: space-between;
}

.search-bar {
  color: #e9eaeb;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 15vh;
  margin: 0;
}

.shares,
.playlist,
.personal-videos {
  margin: 5px;
  padding-right: 100px;
  display: flex;
  flex-direction: row-reverse;
}

.admin {
  margin: 10px;
  display: flex;
  flex-direction: row-reverse;
  height: 2vh;
}

.smLogo {
  height: 8vh;
}

.personal-card-container {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.personal-card-body {
  padding: 10px;
  background-color: #e9eaeb;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.extra-space {
  height: 10vh;
}

.name,
.date,
.playlist-name,
.playlist-title,
.attachments,
.attachments-number {
  margin: 0;
}

.playlist-link {
  background-color: rgb(120,121,116, .1);
  padding: 10px;
}
.attachments{
  padding-top: 15px;
}

.attachments-number,
.date {
  color: #a57342;
}

.grid-item {
  color: #e9eaeb;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}